.faq-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 7rem;
  border-top: 0.25rem solid #30209950;
  width: 61rem;
  margin: 0 auto;
  margin-top: 6rem;

  .input-bar {
    width: 56rem;
    height: 3.5rem;
    margin-bottom: 4rem;

    background-color: var(--white);
    border-radius: 4rem;
    padding: 1rem 3rem;
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 1.25rem -0.3125rem var(--shadow);

    p {
      color: var(--shadow-2);
      font-size: var(--font-regular);
      line-height: var(--line-regular);
      letter-spacing: 0.125rem;
    }

    img {
      height: 1.5rem;
      position: absolute;
      right: 2rem;
      top: calc(50% - 0.75rem);
      image-rendering: -webkit-optimize-contrast;
    }
  }

  .content {
    width: 61rem;

    .faq-dropdown {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      margin-bottom: 1rem;

      button {
        width: 100%;
        height: 4rem;
        border-radius: 2rem;

        padding: 1rem;

        color: var(--gray);
        font-size: var(--font-regular);
        line-height: var(--line-regular);
        letter-spacing: 0.125rem;
        background-color: transparent;
        border: none;

        cursor: pointer;
        margin-bottom: 0.5rem;

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.05);
        }

        &.active {
          color: var(--dark-purple-2);
          font-weight: 600;
        }
      }

      .answer {
        padding: 1rem;

        display: none;

        &.open {
          display: block;
        }

        p {
          color: var(--shadow);
          font-size: var(--font-small-l);
          line-height: var(--line-small-l);
          letter-spacing: 0.125rem;
          text-align: center;
        }
      }
    }
  }
}
