.getting-started {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  margin-top: 8rem;

  h2 {
    font-size: var(--font-medium);
    line-height: var(--line-medium);
    font-weight: bold;
    letter-spacing: 0.1875rem;
    color: var(--dark-purple-2);
    padding: 0.5rem 2rem;

    border: 0.125rem solid var(--dark-purple-2);
    border-radius: 3.1875rem;

    margin-bottom: 3rem;
  }

  .items-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 6rem;
    row-gap: 4rem;

    padding: 2rem 0;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 18.5rem;
      // margin: 2rem 4rem;

      img {
        width: 6.375rem;
        margin-bottom: 2rem;
        image-rendering: -webkit-optimize-contrast;
      }

      .card {
        background-color: var(--white);
        border-radius: 2rem;
        box-shadow: 0 0 1.25rem -0.3125rem var(--shadow-2);
        padding: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        strong {
          font-size: var(--font-regular-s);
          line-height: var(--line-regular-s);
          font-weight: bold;
          letter-spacing: 0.125rem;
          color: var(--dark-gray);
          margin-bottom: 1rem;
        }
        p {
          font-size: var(--font-small);
          line-height: var(--line-small);
          letter-spacing: 0.0625rem;
          color: var(--gray);
        }
      }
    }
  }

  .started-dots {
    position: absolute;
    left: 0;
    top: 80%;
    z-index: -1;

    height: 86.1875rem;
  }
}
