.registration {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding: 6rem 4rem 0;

  .step-2 {
    // width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    .container {
      width: 34rem;
      background-color: var(--white);
      padding: 3rem 4rem;
      border-radius: 3rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      box-shadow: 0 0 1.25rem -0.3125rem var(--shadow);

      form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;

        label {
          font-size: var(--font-regular);
          line-height: var(--line-regular);
          letter-spacing: 0.125rem;
          font-weight: bold;
          color: var(--orange);
          margin-bottom: 1rem;
          text-align: left;
        }

        input {
          width: 100%;
          padding: 0.625rem 1.5rem;
          border-radius: 2.25rem;
          border: 0.125rem solid var(--dark-purple-2);

          font-size: var(--font-small);
          line-height: var(--line-small);
          letter-spacing: 0.0625rem;
          color: var(--dark-gray);

          margin-bottom: 2rem;

          &::placeholder {
            font-size: var(--font-small);
            line-height: var(--line-small);
            letter-spacing: 0.0625rem;
            color: var(--gray);
          }
        }

        .phone-number-container {
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin-bottom: 2rem;
          width: 100%;

          .code {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            height: 2.75rem;
            padding: 1rem 2rem;
            background-color: var(--phone);
            border-radius: 2.25rem;

            margin-right: 1.5rem;

            img {
              height: 1.5rem;
              margin-right: 1rem;
            }

            span {
              font-size: var(--font-regular);
              line-height: var(--line-regular);
              letter-spacing: 0.125rem;
              color: var(--dark-purple-2);
            }
          }

          input {
            margin-bottom: 0;
          }
        }

        .checkmark-area {
          margin-top: 1rem;

          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2rem;
          position: relative;
          cursor: pointer;

          input[type="checkbox"] {
            display: none;

            &:checked + .checkbox {
              background-color: var(--dark-purple-2);
            }
          }

          .checkbox {
            width: 2rem;
            height: 2rem;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;

            background-color: transparent;
            border: 0.1875rem solid var(--dark-purple-2);
            border-radius: 0.375rem;
            margin-right: 2rem;

            img {
              height: 1rem;
            }
          }

          label {
            font-size: var(--font-small-s);
            line-height: var(--line-small-s);
            color: var(--shadow);
            letter-spacing: 0.125rem;
            cursor: pointer;
            margin-bottom: 0;

            a {
              color: var(--orange);
              text-decoration: none;
              font-weight: bold;
            }
          }
        }

        .already-have {
          width: 100%;
          text-align: center;
          font-weight: bold;
          color: var(--shadow);

          font-size: var(--font-small-s);
          line-height: var(--line-small-s);
          letter-spacing: 0.125rem;

          margin-bottom: 2rem;

          a {
            padding: 0.5rem 0.75rem;
            text-decoration: none;
            color: var(--dark-purple-2);
            font-weight: bold;
          }
        }

        .create {
          font-size: var(--font-medium-s);
          line-height: var(--line-medium-s);
          padding: 0.5rem 3rem;
          background-color: var(--orange);
          color: var(--white);
          font-weight: bold;
          border: none;
          border-radius: 4rem;
          cursor: pointer;
          margin: 0 auto;

          box-shadow: 0 0 1.25rem -0.3125rem var(--shadow);
          transition: background-color 0.2s ease-in-out;

          &:hover,
          &:focus {
            transition: none;
            background-color: var(--strong-orange);
          }
        }
      }
    }
  }

  .step-3 {
    // width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    & > img {
      width: 41rem;
    }

    .incomplete {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      text-align: center;

      img {
        width: 18rem;

        margin-bottom: 1.5rem;
      }

      strong {
        color: var(--dark-purple-2);
        font-size: var(--font-medium-l);
        line-height: var(--line-medium-l);
        letter-spacing: 0.125rem;
        font-weight: bold;
      }

      p {
        margin-top: 0.75rem;
        color: var(--orange);
        font-size: var(--font-regular-s);
        line-height: var(--line-regular-s);
        font-weight: 600;
      }
    }

    .complete {
      width: 35rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      padding: 1.75rem 2.5rem;

      border-radius: 2.5rem;

      & > img {
        height: 5.5rem;
        margin-bottom: 1.25rem;
        filter: drop-shadow(0.5rem 0 0.375rem var(--shadow-2));
      }

      h2 {
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: var(--dark-purple-2);
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 1.5rem;
        line-height: 1.5rem;
        letter-spacing: 0.125rem;
        color: var(--dark-purple-2);
        margin-bottom: 1.5rem;
      }

      p {
        width: 100%;
        font-size: var(--font-small);
        line-height: var(--line-small);
        letter-spacing: 0.125rem;
        color: var(--dark-purple-2);
        padding: 1rem 2rem;
        background-color: var(--light-blue);
        margin-bottom: 2rem;

        border-radius: 4rem;
      }

      .stores {
        display: flex;

        justify-content: center;
        align-items: center;

        margin-bottom: 2rem;

        img {
          height: 3.5rem;
          cursor: pointer;
          margin: 0 1rem;

          box-shadow: 0 0 1.25rem -0.3125rem var(--shadow);
        }
      }
    }
  }

  @media screen and (max-width: 1156px) {
    .step-2 .container {
      width: 32rem;
    }

    .step-3 .complete {
      width: 32rem;
    }
  }
}
