.tasker-hero {
  height: 120vh;
  max-height: 55rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-blue);
  padding-top: 6rem;
  position: relative;

  .relative-container {
    position: relative;

    height: 120vh;
    max-height: 55rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .background {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      img {
        height: 43.5625rem;

        &.woman {
          height: 42.25rem;
        }
      }
    }

    h1 {
      font-size: var(--title);
      line-height: var(--title-2);
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.125rem;
      color: var(--orange);
      margin-bottom: 2rem;
      position: relative;
      z-index: 10;
    }

    p.increase {
      padding: 1rem;

      font-size: 1.375rem;
      line-height: 1.375rem;
      letter-spacing: 0.125rem;
      color: var(--dark-purple-2);
      margin-bottom: 2rem;

      border: 0.125rem solid var(--dark-purple-2);
      border-radius: 2.0625rem;
      position: relative;
      z-index: 10;
    }

    .card {
      background-color: rgba($color: #fff, $alpha: 0.5);
      padding: 2rem 2rem 1rem;
      border-radius: 2rem;
      width: 34rem;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      z-index: 10;

      p {
        font-size: var(--font-small-l);
        line-height: var(--line-small-l);
        font-weight: 600;
        letter-spacing: 0.125rem;
        color: var(--gray);
        margin-bottom: 1rem;
        width: 100%;
      }

      .basic-dropdown {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        margin-bottom: 2rem;
        position: relative;

        button {
          width: 100%;
          height: 3rem;
          border: none;
          border-radius: 1.5rem;
          position: relative;

          font-size: var(--font-small-l);
          line-height: var(--line-small-l);
          letter-spacing: 0.125rem;

          background-color: var(--light-blue-2);
          color: var(--dark-purple-2);
          padding: 1rem 2rem;
          text-align: left;
          font-weight: 600;

          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          img {
            width: 1.375rem;
            height: 0.75rem;
            image-rendering: -webkit-optimize-contrast;
          }

          &.active {
            z-index: 10;
            border-radius: 1.5rem 1.5rem 0 0;

            img {
              transform: rotate(180deg);
            }
          }
        }

        .options {
          display: none;
          position: absolute;
          overflow: hidden;

          border-radius: 0 0 1.5rem 1.5rem;
          box-shadow: 0 0.625rem 1.25rem -0.625rem var(--shadow);

          &.unfolded {
            display: block;
            position: absolute;
            z-index: 2;
            top: 100%;
            width: 100%;

            background-color: var(--light-blue);
          }

          .option {
            padding: 1rem 2rem;
            cursor: pointer;
            color: var(--dark-gray);
            font-size: var(--font-small-s);
            line-height: var(--line-small-s);
            letter-spacing: 0.125rem;

            &:hover {
              background-color: rgba($color: #3e43af, $alpha: 0.1);
              color: var(--dark-purple-2);
            }
          }
        }
      }

      button.next-step {
        padding: 0.5rem 1rem;
        font-size: var(--font-regular-s);
        line-height: var(--line-regular-s);
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: var(--dark-purple-2);
        background-color: transparent;
        border: 0.125rem solid var(--dark-purple-2);
        border-radius: 1.4375rem;
        cursor: pointer;

        margin: 0 auto;
        margin-bottom: 1.5rem;

        transition-property: color, background-color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;

        &:hover,
        &:focus {
          transition: none;
          background-color: var(--dark-purple-2);
          color: var(--white);
        }
      }

      .already {
        font-size: var(--font-small-s);
        line-height: var(--line-small-s);
        font-weight: 400;
        letter-spacing: 0.125rem;
        color: var(--gray);
        text-align: center;

        a {
          padding: 0.5rem 0.75rem;
          text-decoration: none;
          color: var(--dark-purple-2);
          font-weight: bold;
        }
      }
    }
  }
}
