@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 300;
  src: local("GraphikLight"),
    url(../../fonts/GraphikLight.otf) format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: italic;
  font-weight: 300;
  src: local("GraphikLightItalic"),
    url(../../fonts/GraphikLightItalic.otf) format("opentype");
}

@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 400;
  src: local("GraphikRegular"),
    url(../../fonts/GraphikRegular.otf) format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: italic;
  font-weight: 400;
  src: local("GraphikRegularItalic"),
    url(../../fonts/GraphikRegularItalic.otf) format("opentype");
}

@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 500;
  src: local("GraphikMedium"),
    url(../../fonts/GraphikMedium.otf) format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: italic;
  font-weight: 500;
  src: local("GraphikMediumItalic"),
    url(../../fonts/GraphikMediumItalic.otf) format("opentype");
}

@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 600;
  src: local("GraphikSemibold"),
    url(../../fonts/GraphikSemibold.otf) format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: italic;
  font-weight: 600;
  src: local("GraphikSemiboldItalic"),
    url(../../fonts/GraphikSemiboldItalic.otf) format("opentype");
}

@font-face {
  font-family: "Graphik";
  font-style: normal;
  font-weight: 700;
  src: local("GraphikBold"), url(../../fonts/GraphikBold.otf) format("opentype");
}
@font-face {
  font-family: "Graphik";
  font-style: italic;
  font-weight: 700;
  src: local("GraphikBoldItalic"),
    url(../../fonts/GraphikBoldItalic.otf) format("opentype");
}
