.stars-container {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 1.1875rem;
    width: 1.1875rem;

    margin-right: 0.25rem;
  }
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.image {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  opacity: 0;

  &.loading {
    clip-path: inset(0);
  }

  &.loaded {
    opacity: 1;
  }
}

.wrapper {
  background-color: var(--light-blue);
  background: linear-gradient(
    to bottom,
    var(--light-blue),
    transparent,
    var(--light-blue)
  );

  border-bottom-right-radius: 2.25rem;
  border-bottom-left-radius: 2.25rem;
}

button.help-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-color: transparent;
  border: none;

  height: 4rem;

  &:hover {
    opacity: 0.8;
  }

  img {
    height: 4rem;
    width: 10.125rem;
  }

  span {
    position: absolute;
    top: 50%;
    left: calc(50% - 1.5rem);
    font-size: var(--font-regular-s);
    line-height: var(--line-regular-s);
    color: var(--white);
    font-weight: bold;
    letter-spacing: 2px;
  }
}
