.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 100%;

  .carousel-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;

    .inner-container {
      display: flex;

      height: max-content;
      overflow: hidden;
      width: 69rem;

      padding: 2rem 0 8rem;

      filter: none;

      &.wide {
        width: 75rem;
      }
    }

    .group {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      transition: transform 0.3s ease-in-out;
    }
  }

  .carousel-btn {
    position: absolute;
    z-index: 10;

    height: 4.875rem;
    top: calc(50% - 2.4375rem);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;

    &.hidden {
      display: none;
    }

    &.left {
      left: 2.5rem;

      img {
        transform: rotateZ(180deg);
      }
    }
    &.right {
      right: 2.5rem;
    }

    &:hover {
      background-color: #00000010;
    }

    &.arrow {
      img {
        height: 1.4375rem;
        width: 1.75rem;
      }
    }

    img {
      height: 1.75rem;
      width: 1rem;

      image-rendering: -webkit-optimize-contrast;
    }
  }
}

@media screen and (max-width: 1200px) {
  .carausel-providers {
    .inner-container {
      width: 63.75rem !important;
    }
  }
}
@media screen and (max-width: 800px) {
  .carausel-providers {
    .inner-container {
      width: 50rem !important;
    }
  }
}
