.featured-provider-card {
  width: 19rem;
  height: 28rem;

  margin: 0 3rem;

  position: relative;

  display: flex;
  justify-content: center;

  & > img {
    width: 13.75rem;
    height: 13.75rem;

    position: relative;
    z-index: 10;
    border-radius: 50%;

    image-rendering: -webkit-optimize-contrast;
  }

  .text {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 16rem;
    background-color: var(--dark-purple-2);

    border-radius: 2rem;
    padding: 2.5rem 2.25rem 1.5rem 2.25rem;

    color: var(--white);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    strong {
      font-size: var(--font-regular-l);
      line-height: var(--line-regular-l);
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.0625rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: var(--font-small-s);
      line-height: var(--line-small-s);
      font-weight: 300;
      letter-spacing: 0.0625rem;

      margin-bottom: 1.5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    margin: 0 1.125rem;
  }
  @media screen and (max-width: 800px) {
    margin: 0 3rem;
  }
}
