.pagination-component {
  width: 100%;

  &.services {
    max-width: 69rem;
    margin: 0 auto;
    overflow: hidden;

    .container {
      overflow: visible;
      justify-content: flex-start;
      padding: 2rem 0 0rem;

      .group {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10rem;
        justify-content: center;
      }
    }

    .controls {
      max-width: 60%;
      margin: 14rem auto 4rem;
    }
  }

  & > .container {
    width: 100%;
    overflow: hidden;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 4rem;

    .group {
      .task-provider-card {
        margin-bottom: 3rem;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: space-between;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      text-align: left;

      &.disabled {
        color: var(--gray);
        filter: grayscale(1);
      }

      &:nth-child(3) {
        text-align: right;
      }
      &:hover p {
        font-weight: 600;
      }

      img {
        height: 1.25rem;
        image-rendering: -webkit-optimize-contrast;

        &.left {
          transform: rotateZ(180deg);
        }
      }

      p {
        font-size: var(--font-regular-s);
        line-height: var(--line-regular-s);
        color: var(--orange);
        letter-spacing: 0.125rem;
        margin: 0 1rem;
        min-width: 7.875rem;
      }
    }

    .numbers {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden;

      span {
        font-size: var(--font-regular-s);
        line-height: var(--line-regular-s);
        width: 2.5rem;
        color: var(--dark-purple-2);
        margin: 0 0.5rem;
        font-weight: 300;
        cursor: pointer;

        text-align: center;

        &.active,
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
