.service-card {
  height: 25.5rem;
  width: 19rem;

  position: relative;
  margin: 0 2rem;

  background-color: var(--white);
  border-radius: 1.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 1.875rem -0.5rem var(--shadow);

  & > img {
    height: 100%;
    width: 100%;
    image-rendering: -webkit-optimize-contrast;

    border-radius: 1.3125rem;
  }

  .text {
    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 0 0 1.25rem 1.25rem;

    height: 10rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    padding: 1.5rem 0.75rem;
    overflow: hidden;

    background-color: rgba(#fff, 90%);

    h3 {
      font-size: 1.25rem;
      line-height: 1.25rem;
      font-weight: bold;
      letter-spacing: 0.125rem;
      color: var(--dark-purple-2);
      margin-bottom: 0.75rem;
    }

    p {
      font-size: 0.8125rem;
      line-height: 0.9375rem;
      letter-spacing: 0.125rem;
      color: var(--dark-gray);
      text-align: center;
    }
  }

  .container {
    position: absolute;
    width: 100%;

    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .price {
      position: relative;
      bottom: -4rem;

      font-size: var(--font-regular-s);
      line-height: var(--line-regular-s);
      font-weight: 600;
      letter-spacing: 0.125rem;
      color: var(--white);

      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.5rem 1.5rem;

      background-color: var(--orange);
      border: none;
      border-radius: 1.625rem;
    }

    .on-site-estimated {
      position: relative;
      bottom: -5.25rem;

      font-size: 1.125rem;
      line-height: 1.125rem;
      font-weight: 400;
      letter-spacing: 0.0625rem;
      color: var(--dark-purple-2);
    }

    .rating {
      position: relative;
      bottom: -6.5rem;

      font-size: 1.125rem;
      line-height: 1.125rem;
      font-weight: 400;
      letter-spacing: 0.0625rem;
      color: var(--dark-purple-2);
    }
  }
}
