.become-provider {
  margin-top: 5rem;

  padding: 0 7rem 0 5rem;

  display: flex;
  justify-content: space-between;

  img {
    height: 42.8125rem;
    width: 33rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 3rem;

    width: 42%;

    text-align: right;

    h2 {
      font-size: var(--title);
      line-height: var(--title-2);
      font-weight: bold;
      font-style: italic;
      color: var(--dark-purple-2);
      letter-spacing: 0.125rem;

      margin-bottom: 2.75rem;
    }

    p {
      font-size: var(--font-small);
      line-height: var(--line-regular-s);
      font-weight: 300;
      color: var(--gray);
      letter-spacing: 0.125rem;

      margin-bottom: 2.25rem;
    }

    a {
      margin-top: 0.5rem;
      font-size: var(--font-small-l);
      line-height: var(--line-small-l);
      color: var(--white);
      letter-spacing: 0.125rem;

      padding: 0.75rem 3rem;
      background-color: var(--orange);
      border: none;
      border-radius: 4rem 0 4rem 4rem;
      font-weight: 600;

      box-shadow: 0 0 1.25rem var(--shadow);
      cursor: pointer;

      &:hover {
        background-color: var(--strong-orange);
      }
    }
  }
}
