.categories {
  width: 100%;
  height: 56.25rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  padding-top: 6rem;

  h2 {
    font-size: var(--title);
    line-height: var(--title-2);
    font-weight: bold;
    font-style: italic;
    color: var(--dark-purple-2);
    margin-bottom: 4rem;
    letter-spacing: 0.125rem;
  }
}
