.section-community {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--orange);

  position: relative;

  height: 21rem;
  margin-top: 7rem;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: 21rem;

    padding: 0 6rem;

    h2 {
      width: 60%;

      font-size: var(--title);
      line-height: var(--title-2);
      font-weight: bold;
      font-style: italic;
      letter-spacing: 0.125rem;
      color: var(--white);

      margin-bottom: 2rem;
    }

    p {
      width: 51%;

      font-size: var(--font-small);
      line-height: var(--line-regular-s);
      font-weight: 300;
      letter-spacing: 0.0625rem;
      color: var(--white);
    }
  }

  .access {
    height: 21rem;

    display: flex;

    position: absolute;
    right: 0;
    top: 0;

    width: 45%;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--dark-purple-2);

    img {
      position: absolute;
      bottom: 0;
      right: 0;
    }

    img.hammer {
      height: 17rem;
    }
    img.man {
      height: 21rem;
      margin-right: 3.5rem;
    }

    .btn-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      position: relative;
      z-index: 10;

      a {
        background-color: var(--white);
        border: none;
        border-radius: 4rem;
        border-top-right-radius: 0;

        margin-left: 7rem;
        margin-top: 7rem;

        display: flex;
        box-shadow: 0 0 0.5rem var(--shadow);

        padding: 0.5rem 1rem;
        font-size: var(--font-small);
        line-height: var(--line-small);
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--dark-purple-2);

        transition: background-color 0.2s ease-in-out;

        &:hover {
          transition: none;
          background-color: var(--phone);
        }
      }
    }
  }

  @media screen and (max-width: 1200px) {
    .access {
      width: 48%;
    }
  }

  @media screen and (max-width: 1164px) {
    .text {
      h2 {
        line-height: var(--title);
        margin-bottom: 1.5rem;
      }
      p {
        width: 51%;

        font-size: var(--font-small);
        line-height: var(--line-small-l);
        font-weight: 300;
        letter-spacing: 0.0625rem;
        color: var(--white);
      }
    }
  }
  @media screen and (max-width: 768px) {
    .text {
      padding: 0 3rem;
    }
  }
}
