.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;

  & > img {
    height: 48.125rem;
    margin-left: 3.5rem;
  }

  .help-btn {
    margin-left: 3.5rem;
  }

  .content {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;

    width: 50%;

    padding-top: 3rem;
    padding-right: 3.5rem;

    h2 {
      font-size: var(--title);
      line-height: var(--title-2);
      font-weight: bold;
      font-style: italic;
      color: var(--strong-orange);
      padding-right: 4rem;
      letter-spacing: 0.125rem;

      margin-bottom: 2rem;
    }

    .container {
      .block {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 2rem;

        .text {
          width: calc(100% - 10.5rem);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;

          h3 {
            font-size: var(--font-medium-s);
            line-height: var(--line-medium-s);
            font-weight: bold;
            color: var(--dark-gray);
            margin-bottom: 0.75rem;
            letter-spacing: 0.0625rem;
          }

          p {
            font-size: var(--font-small);
            line-height: var(--line-small);
            font-weight: 300;
            color: var(--gray);
            letter-spacing: 0.0625rem;
          }
        }

        .img-container {
          display: flex;
          justify-content: center;
          align-items: center;

          margin-left: 4rem;

          width: 6.5rem;
          height: 6.5rem;

          background-color: var(--white);
          border-radius: 50%;
          box-shadow: 0 0 1.25rem -0.625rem var(--shadow);

          img {
            height: 4rem;

            &.worker {
              transform: translateX(0.1875rem);
            }
          }
        }
      }
    }
  }
}
