.providers-info {
  padding: 0 4rem;

  margin-top: 8rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 2rem;
    background-color: var(--strong-orange);
    padding-left: 4rem;

    position: relative;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      position: relative;

      width: 56%;

      h2 {
        padding-top: 3.5rem;
        font-size: var(--title);
        line-height: var(--title);
        font-weight: bold;
        font-style: italic;
        color: var(--white);
        letter-spacing: 0.125rem;

        margin-bottom: 2rem;
      }

      p {
        font-size: var(--font-small);
        line-height: var(--line-regular-s);
        font-weight: 300;
        color: var(--white);
        letter-spacing: 0.125rem;

        margin-bottom: 2.25rem;

        &:last-of-type {
          margin-bottom: 5rem;
        }
      }

      button {
        position: absolute;
        bottom: 0;

        background-color: var(--dark-purple-2);
        padding: 0.75rem 3rem;
        border: none;
        border-radius: 4rem 0 4rem 4rem;
        color: var(--white);
        font-size: var(--font-small-l);
        line-height: var(--line-small-l);
        font-weight: 400;
        letter-spacing: 0.125rem;

        transform: translateY(1.75rem);
        cursor: pointer;

        box-shadow: 0 0 1.25rem var(--shadow);
      }
    }

    img {
      position: absolute;
      top: calc(50% - 13rem);
      right: -2.25rem;
      z-index: 10;
      height: 26rem;

      filter: drop-shadow(0 0 1.25rem var(--shadow));
    }
  }

  @media screen and (max-width: 1300px) {
    .container .left {
      h2 {
        margin-bottom: 3rem;
      }
    }
  }

  @media screen and (max-width: 1100px) {
    .container .left {
      h2 {
        margin-bottom: 3.5rem;
      }
    }
  }
  @media screen and (max-width: 900px) {
    .container {
      .left {
        width: 50%;
        h2 {
          margin-bottom: 4rem;
        }
        p {
          margin-bottom: 3rem;
        }
      }
      img {
        right: 4rem;
      }
    }
  }
}
