.service-deals {
  padding: 0 4rem;

  margin-top: 8rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 2.5rem;
    background-color: var(--dark-purple-1);
    padding-left: 4rem;
    position: relative;

    height: 22.625rem;

    & > img {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      border-radius: 2.5rem;
    }

    .inner-container {
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 2.5rem 0;

        position: relative;
        z-index: 10;
        width: 50%;

        h2 {
          font-size: var(--title);
          line-height: var(--title);
          font-weight: bold;
          font-style: italic;
          color: var(--white);
          letter-spacing: 0.125rem;

          margin-bottom: 2rem;
        }

        .content {
          width: 95%;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;

          p {
            font-size: var(--font-small);
            line-height: var(--line-regular-s);
            font-weight: 300;
            color: var(--white);
            letter-spacing: 0.125rem;

            margin-bottom: 2.25rem;
          }

          .input-container {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 31rem;
            height: 2.5rem;

            background-color: var(--gray);
            border: 0.125rem solid var(--gray);
            border-radius: 1.625rem;

            position: relative;

            input {
              height: 100%;
              width: 100%;
              padding: 0 2rem;
              border-radius: 1.625rem;
              border: none;

              font-size: var(--font-small-s);
              line-height: var(--line-small-s);

              letter-spacing: 0.125rem;
              color: var(--dark-gray);

              &::placeholder {
                letter-spacing: 0.125rem;
                color: var(--dark-gray);
              }
            }

            a {
              position: absolute;
              top: 0;
              right: 0;
              width: 4.5rem;
              height: 100%;

              background-color: var(--gray);
              border: none;
              border-radius: 1.5rem;

              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              &.active {
                background-color: var(--orange);

                &:hover {
                  background-color: var(--strong-orange);
                }
              }

              img {
                width: 1.25rem;
                height: 1.25rem;

                image-rendering: -webkit-optimize-contrast;
              }
            }

            .options {
              position: absolute;
              top: 3rem;
              left: 0;
              z-index: 100;
              width: 100%;
              box-shadow: 0 0.5rem 1rem -0.5rem var(--shadow);

              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;

              background-color: var(--white);
              border-radius: 1rem;
              padding: 0.5rem;

              max-height: 15.875rem;
              overflow-y: scroll;

              scrollbar-width: thin;
              scrollbar-color: var(--light-blue-2) transparent;

              &::-webkit-scrollbar {
                width: 0.5rem;
              }

              &::-webkit-scrollbar-track {
                background-color: transparent;
              }

              &::-webkit-scrollbar-thumb {
                background-color: var(--light-blue-2);
              }

              .service {
                width: 100%;
                border-radius: 0.5rem;

                font-size: var(--font-small-s);
                line-height: var(--line-small-s);
                padding: 0.5rem;
                color: var(--dark-gray);
                cursor: pointer;

                &:hover,
                &:focus {
                  background-color: var(--dark-purple-1);
                  color: var(--white);
                }
              }
            }
          }
        }
      }

      .decoration {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        .drill {
          width: 32.9375rem;
        }

        .tools {
          position: absolute;
          top: 44%;
          left: 0;

          height: 9.9375rem;
        }
      }
    }
  }

  @media screen and (max-width: 1312px) {
    .container .inner-container {
      .text {
        width: 54%;
      }
      .decoration {
        .drill {
          width: 29rem;
        }
        .tools {
          top: 56%;
          height: 8rem;
        }
      }
    }
  }
  @media screen and (max-width: 1182px) {
    .container .inner-container {
      .text {
        width: 60%;
      }
      .decoration {
        .drill {
          width: 30rem;
        }
        .tools {
          top: 48%;
          height: 9.75rem;
        }
      }
    }
  }
  @media screen and (max-width: 1112px) {
    .container .inner-container {
      // .text {
      //   width: 60%;
      // }
      .decoration {
        .drill {
          width: 28rem;
        }
        .tools {
          top: 50%;
          height: 9rem;
        }
      }
    }
  }
  @media screen and (max-width: 1100px) {
    .container .inner-container {
      .text {
        width: 54%;
      }
      .decoration {
        .drill {
          width: 30rem;
        }
        .tools {
          top: 50%;
          height: 9rem;
        }
      }
    }
  }
}
