#footer {
  margin-top: 6rem;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 3rem 3rem 0 0;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 6rem auto 0;

  &.up {
    margin-top: -4rem;
  }

  & > .background {
    width: 100%;
    position: absolute;

    img {
      width: 100%;
    }
  }

  .content {
    z-index: 10;

    padding: 3rem 4rem 1.5rem;

    height: 100%;

    background-color: #170591cf;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 3rem;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: max-content;

        font-size: var(--font-small-s);
        line-height: var(--line-small-s);
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: var(--white);
        background-color: var(--orange);
        padding: 0.5rem 2.25rem;
        border: none;

        border-radius: 2.1875rem 0 2.1875rem 2.1875rem;
        box-shadow: 0 0 1.25rem var(--shadow);
      }

      ul {
        list-style: none;
        padding: 1.5rem 0;
        // margin-bottom: 2rem;

        li {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin: 0.5rem 0;

          img {
            height: 1.25rem;
            margin-right: 1rem;

            image-rendering: -webkit-optimize-contrast;
          }

          a {
            text-decoration: none;

            padding: 0.25rem;

            font-size: var(--font-minimal);
            line-height: var(--line-small);
            letter-spacing: 0.125rem;
            color: var(--white);
          }
        }
      }

      .first {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        img {
          width: 8rem;
          image-rendering: -webkit-optimize-contrast;
          margin-left: 1rem;

          margin-bottom: 3rem;
        }

        p {
          width: 75%;
          font-size: var(--font-minimal);
          line-height: var(--line-small);
          letter-spacing: 0.125rem;
          color: var(--white);
        }
      }

      .second {
        button:nth-of-type(2) {
          margin-bottom: 2rem;
        }

        .social {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          margin-top: 1.25rem;

          a {
            text-decoration: none;
            display: flex;
            padding: 0.5rem;
            margin: 0 0.25rem;
            border-radius: 0.5rem;
            transition: background-color 0.2s ease-in-out;

            &:hover,
            &:focus {
              transition: none;
              background-color: var(--dark-purple-2);
            }

            img {
              image-rendering: -webkit-optimize-contrast;
              width: 2.0625rem;
            }
          }
        }
      }

      .third {
        ul li {
          font-size: var(--font-minimal);
          line-height: var(--line-small);
          letter-spacing: 0.125rem;
          color: var(--white);
        }

        p {
          font-size: var(--font-small);
          line-height: var(--font-small);
          font-weight: 600;
          letter-spacing: 0.0625rem;
          color: var(--white);
          text-align: left;

          margin-bottom: 1.5rem;
        }

        .app-stores {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          a {
            display: flex;
            text-decoration: none;
            margin-right: 2rem;

            img {
              height: 3.4375rem;

              image-rendering: -webkit-optimize-contrast;
            }
          }
        }
      }
    }

    .copy {
      font-size: var(--font-small-s);
      line-height: var(--line-small-s);
      letter-spacing: 0.125rem;
      color: var(--white);
      margin-bottom: 2rem;
    }
  }
}
