.location-main {
  .inner-container {
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: var(--light-blue);
    background: linear-gradient(to bottom, var(--light-blue), var(--white));
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.125rem;
    color: var(--dark-purple-2);
    font-style: italic;
    font-weight: bold;

    margin-bottom: 6rem;
  }

  .footer {
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 4rem;

    margin-bottom: 6rem;

    .group {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      strong {
        font-size: 1.25rem;
        line-height: 1.25rem;
        letter-spacing: 0.125rem;
        color: var(--dark-gray);
        font-weight: bold;

        margin-bottom: 2rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 1.125rem;
        letter-spacing: 0.125rem;
        color: var(--orange);

        margin-bottom: 1rem;
      }
    }
  }
}
