.task-process {
  height: 5.875rem;
  width: calc(100% - 10rem);

  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  .container {
    position: absolute;
    top: -50%;

    padding: 2rem 2.5rem;
    height: 5.875rem;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0.625rem 1.25rem -1rem var(--shadow);
    border-radius: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .process {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 2.75rem;
      margin-right: 1rem;
      image-rendering: -webkit-optimize-contrast;
      opacity: 0.2;

      &.visible {
        opacity: 1;
      }
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      margin-right: 1rem;

      span {
        font-size: var(--font-small);
        line-height: var(--line-small);
        color: var(--gray);
        letter-spacing: 0.0625rem;
      }
    }
  }

  .line-container {
    width: 4.5rem;
    height: 0.375rem;
    margin-right: 1rem;
    border-radius: 1rem;
    background-color: var(--shadow-2);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .line {
      height: 100%;

      background-color: var(--dark-purple-3);
    }
  }

  @media screen and (max-width: 1184px) {
    .process {
      img {
        width: 2.25rem;
      }
    }
  }
  @media screen and (max-width: 1126px) {
    .line-container {
      width: 3rem;
    }
  }
  @media screen and (max-width: 1100px) {
    .line-container {
      width: 4rem;
    }
  }
  @media screen and (max-width: 1000px) {
    .process {
      img {
        width: 2.75rem;
      }
    }
    .line-container {
      width: 4rem;
    }
  }
}
