.task-hero {
  width: 100%;
  height: min-content;
  position: relative;
  display: flex;
  min-height: 18.75rem;

  .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;

    img {
      width: 100%;
    }

    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;

      padding-left: 4rem;

      width: 65%;
      height: 100%;
      min-height: 18.75rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h1 {
        font-size: 3.375rem;
        line-height: 3.625rem;
        font-weight: bold;
        color: var(--white);
        letter-spacing: 0.0625rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: var(--font-regular-l);
        line-height: 2rem;
        color: var(--white);
        letter-spacing: 0.0625rem;
      }
    }

    @media screen and (max-width: 1220px) {
      .text {
        h1 {
          font-size: 3rem;
        }
      }
    }
    @media screen and (max-width: 1164px) {
      .text {
        h1 {
          font-size: 2.75rem;
          line-height: 2.75rem;
        }
        p {
          font-size: var(--font-regular);
          line-height: var(--line-regular);
        }
      }
    }
    @media screen and (max-width: 1100px) {
      .text {
        h1 {
          font-size: 3rem;
          line-height: 3rem;
        }
        p {
          font-size: var(--font-regular-l);
          line-height: var(--line-regular-l);
        }
      }
    }
    @media screen and (max-width: 900px) {
      .text {
        h1 {
          font-size: 3.25rem;
          line-height: 3.25rem;
        }
        p {
          font-size: var(--font-regular-l);
          line-height: var(--line-regular-l);
        }
      }
    }
    @media screen and (max-width: 820px) {
      .text {
        h1 {
          font-size: 3rem;
          line-height: 3rem;
        }
        p {
          font-size: var(--font-regular);
          line-height: var(--line-regular);
        }
      }
    }
  }
}
