.task-process-three {
  width: 100%;
  display: grid;
  grid-template-columns: 73% 27%;
  padding-top: 1rem;
  position: relative;

  .providers-section {
    margin-left: 5rem;
    width: 51rem;
  }

  .filters-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--filter-bg);
    background: linear-gradient(to bottom, var(--filter-bg), var(--orange));
    padding: 2rem;

    border-radius: 2rem 0 0 2rem;
    box-shadow: 0 0 1.25rem -0.375rem var(--blue);

    width: 100%;
    max-width: 22.25rem;
    height: min-content;

    margin-left: auto;

    h3 {
      font-size: var(--line-medium-l);
      line-height: var(--line-medium-l);
      letter-spacing: 0.125rem;
      font-weight: bold;

      color: var(--white);
      margin-bottom: 1rem;
      margin-top: 0.5rem;
    }

    .separator {
      width: 100%;
      border: 0.0625rem solid var(--strong-orange);
      margin: 1rem 0;
    }

    .selection {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      width: 100%;
      margin-bottom: 1rem;

      .option {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem 2rem 1rem 0;
        color: var(--white);
        background-color: transparent;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        width: 100%;

        font-size: var(--font-small-l);
        line-height: var(--line-small-l);
        letter-spacing: 0.0625rem;
        text-align: left;

        transition-property: background-color;
        transition-duration: var(--transition-duration);
        transition-timing-function: ease-in-out;

        &:before {
          content: "";
          display: flex;
          width: 1.25rem;
          height: 1.25rem;
          border: 0.125rem solid var(--white);
          border-radius: 50%;
          margin-right: 1.5rem;
          flex-shrink: 0;

          transition-property: border-color, background-color;
          transition-duration: var(--transition-duration);
          transition-timing-function: ease-in-out;
        }

        &.selected:before {
          transition: none;
          border-color: var(--dark-purple-2);
          background-color: var(--dark-purple-2);
        }

        &:hover:before {
          transition: none;
          border-color: var(--dark-purple-2);
        }
      }
    }

    .selected-service {
      color: var(--white);

      font-size: var(--font-small-l);
      line-height: var(--line-small-l);
      letter-spacing: 0.0625rem;
      margin: 0.25rem 0 1rem;
    }

    .reminder {
      color: var(--white);
      font-weight: 400;

      font-size: var(--font-minimal);
      line-height: var(--font-small);
      letter-spacing: 0.0625rem;
      margin: 0.25rem 0 2rem;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 8.375rem);
      justify-content: space-between;

      row-gap: 1.5rem;

      width: 100%;

      margin-bottom: 1rem;
      padding-top: 1rem;

      max-height: 19.75rem;
      overflow: hidden;

      &.open {
        max-height: min-content;
      }

      .filter-card {
        border: 0.125rem solid var(--white);
        border-radius: 1rem;
        background-color: transparent;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        min-height: 8.375rem;
        height: 100%;

        cursor: pointer;

        img {
          margin-bottom: 0.75rem;
          height: 3.3125rem;
        }

        p {
          color: var(--white);
          font-weight: bold;

          font-size: var(--font-small-s);
          line-height: var(--line-small-s);
          letter-spacing: 0.0625rem;

          width: 80%;
          text-align: center;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        &.selected {
          background-color: var(--white);
          border-color: var(--white);
          box-shadow: 0 0 1.25rem var(--shadow-2);

          p {
            color: var(--dark-purple-2);
          }
        }
        &:hover {
          box-shadow: 0 0 1.25rem var(--shadow-2);
        }
      }
    }

    .more {
      color: var(--white);
      font-weight: bold;

      font-size: var(--font-small-l);
      line-height: var(--line-small-l);
      letter-spacing: 0.0625rem;

      border: none;
      border-radius: 1rem;
      padding: 0.25rem 1.5rem;
      background-color: var(--dark-purple-2);
      cursor: pointer;
      margin: 0 auto;
    }

    .safety-reminder {
      padding: 1rem;
      margin-top: 2.75rem;
      background-color: var(--white);

      border-radius: 1rem;
      box-shadow: 0 0 1.25rem -0.375rem var(--shadow-2);

      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      img {
        height: 2.5625rem;
        margin-right: 1rem;
      }

      p {
        color: var(--dark-purple-2);
        font-weight: 400;

        font-size: var(--font-minimal);
        line-height: var(--font-small);
        letter-spacing: 0.0625rem;
      }
    }
  }

  @media screen and (max-width: 1164px) {
    .providers-section {
      width: 48rem;
    }
  }
}
