.task-process-two {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .mandatory-section {
    padding: 4rem;

    background-color: var(--white);
    border-radius: 2rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 1.25rem -0.75rem var(--blue);

    width: calc(100% - 16rem);

    h1 {
      font-size: 1.75rem;
      line-height: 1.75rem;
      font-weight: bold;
      letter-spacing: 0.125rem;
      color: var(--gray);

      text-align: center;
      margin-bottom: 3rem;
    }

    h2 {
      font-size: 2.125rem;
      line-height: 2.125rem;
      font-weight: bold;
      letter-spacing: 0.125rem;
      color: var(--dark-purple-3);
      margin-bottom: 1.5rem;

      &.gray {
        color: var(--light-gray);
      }

      &.italic {
        font-style: italic;
      }
    }

    .container {
      display: grid;
      grid-template-columns: 1.12fr 0.88fr;

      .left,
      .right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .date {
        width: 80%;
        margin-bottom: 2.5rem;
      }

      .time {
        width: 100%;
      }

      .select-time {
        // width: 90%;
        margin-bottom: 3rem;
      }

      .reminder {
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 400;
        letter-spacing: 0.0625rem;
        color: var(--gray);
      }

      .buttons {
        button {
          cursor: pointer;
          letter-spacing: 0.125rem;
          padding: 0.5rem 1rem;
          border-radius: 4rem;

          transition-property: background-color, color;
          transition-duration: var(--transition-duration);
          transition-timing-function: ease-in-out;

          &.selected,
          &:hover {
            transition: none;
            color: var(--white);
            box-shadow: 0.25rem 0.25rem 1.25rem -0.625rem var(--light-blue);
          }
        }

        .border {
          font-size: 1.25rem;
          line-height: 1.25rem;
          font-weight: 400;
          margin-bottom: 1rem;
          margin-right: 1rem;
          border: 0.0625rem solid var(--dark-purple-3);
          background-color: var(--white);
          color: var(--light-gray);
          min-width: 8.5rem;

          &.selected,
          &:hover {
            background-color: var(--dark-purple-3);
          }
        }

        .gray {
          font-size: 1.3125rem;
          line-height: 1.3125rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
          border: none;
          background-color: var(--light-blue);
          color: var(--dark-gray);
          min-width: 7.5rem;
          letter-spacing: 0;

          &.selected,
          &:hover {
            background-color: var(--orange);
          }
        }

        &.uneven {
          display: flex;
          flex-wrap: wrap;
        }

        &.grid {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-content: center;
          justify-items: center;
          align-items: center;
        }
      }

      .options {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 3rem;

        .option {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding: 1rem 2rem;
          color: var(--light-gray);
          background-color: transparent;
          border: none;
          border-radius: 1rem;
          cursor: pointer;
          width: 100%;
          font-size: 1.25rem;
          line-height: 1.25rem;
          letter-spacing: 0.0625rem;
          transition-property: background-color;
          transition-duration: var(--transition-duration);
          transition-timing-function: ease-in-out;

          &:before {
            content: "";
            display: flex;
            width: 1.25rem;
            height: 1.25rem;
            border: 0.125rem solid var(--light-gray);
            border-radius: 50%;
            margin-right: 1rem;

            transition-property: border-color, background-color;
            transition-duration: var(--transition-duration);
            transition-timing-function: ease-in-out;
          }

          &.selected {
            transition: none;
            background-color: var(--light-blue);
            color: var(--dark-gray);

            &:before {
              transition: none;
              border-color: var(--dark-purple-3);
              background-color: var(--dark-purple-3);
            }
          }

          &:hover {
            transition: none;
            background-color: var(--light-blue);

            &:before {
              transition: none;
              border-color: var(--dark-purple-3);
            }
          }
        }
      }

      strong {
        font-size: 2.5625rem;
        line-height: 2.5625rem;
        font-weight: 400;
        letter-spacing: 0.0625rem;
        color: var(--gray);
      }

      .invalid-date {
        color: var(--dark-purple-3);

        margin-top: 1rem;
        font-size: var(--font-small-l);
        line-height: var(--line-small-l);
        font-weight: bold;
        letter-spacing: 1px;
      }

      .calendar input {
        display: flex;

        cursor: pointer;
        letter-spacing: 0.125rem;
        padding: 0.5rem 1rem;
        border-radius: 4rem;

        font-size: 1.3125rem;
        line-height: 1.3125rem;
        font-weight: 600;
        border: none;
        background-color: var(--light-blue);
        color: var(--dark-gray);
        min-width: 7.5rem;
        letter-spacing: 0.0625rem;

        &::-webkit-clear-button {
          display: none;
        }
      }
    }
  }

  .programmatic-section {
    background-color: var(--white);
    border-radius: 2rem;
    margin-bottom: 6rem;
    box-shadow: 0 0 1.25rem -0.75rem var(--blue);

    width: calc(100% - 16rem);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .open-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 4rem;
      border: none;
      background-color: var(--white);
      border-radius: 2rem;
      cursor: pointer;
      position: relative;

      span {
        width: 100%;

        font-size: var(--font-medium-l);
        line-height: var(--line-medium-l);
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: var(--dark-purple-3);

        text-align: center;
        padding: 1.75rem 0;

        display: flex;
        justify-content: center;
        align-items: center;

        &.icon {
          position: absolute;
          left: 2rem;
          top: calc(50% - 2.5rem);

          padding: 0;
          height: 5rem;
          width: 5rem;

          font-size: 3rem;
          line-height: 3rem;
        }
      }
    }

    .container {
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 3rem 0;
      padding-top: 1rem;

      &.open {
        display: flex;
      }

      h3 {
        font-size: 1.875rem;
        line-height: 1.875rem;
        font-weight: bold;
        letter-spacing: 0.125rem;
        color: var(--orange);
        margin-bottom: 1.5rem;
      }

      p {
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.5rem;
        letter-spacing: 0.125rem;
        color: var(--light-gray);
        margin-bottom: 2rem;

        &.sub {
          text-align: center;
        }
      }

      .selection {
        display: flex;
        flex-wrap: wrap;

        margin: 0.5rem 0 2.5rem;

        button {
          cursor: pointer;
          letter-spacing: 0.125rem;
          padding: 0.5rem 1rem;
          border-radius: 4rem;

          transition-property: background-color, color;
          transition-duration: var(--transition-duration);
          transition-timing-function: ease-in-out;

          font-size: 1.3125rem;
          line-height: 1.3125rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
          border: none;
          background-color: var(--light-blue);
          color: var(--dark-gray);
          min-width: 7.5rem;
          letter-spacing: 0.0625rem;

          margin-right: 1.5rem;

          &.selected,
          &:hover {
            transition: none;
            background-color: var(--orange);
            color: var(--white);
          }
        }
      }

      .input-container {
        display: none;
        width: 100%;

        justify-content: center;
        align-items: center;
        margin: 0 auto 4rem;

        &.visible {
          display: flex;
        }

        input[type="number"] {
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 4rem;

          transition-property: background-color, color;
          transition-duration: var(--transition-duration);
          transition-timing-function: ease-in-out;
          width: 7.5rem;

          font-size: 1.3125rem;
          line-height: 1.3125rem;
          font-weight: 600;
          letter-spacing: 0.0625rem;
          color: var(--dark-gray);
          background-color: var(--light-blue);

          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: min-content;

          font-size: 1.3125rem;
          line-height: 1.3125rem;
          font-weight: 600;
          letter-spacing: 0.0625rem;
          color: var(--dark-gray);
        }
      }
    }
  }

  .next-process {
    cursor: pointer;
    letter-spacing: 0.125rem;
    padding: 0.75rem 3rem;
    font-size: var(--font-medium);
    line-height: var(--line-medium);
    border-radius: 4rem;

    transition-property: background-color, color, box-shadow;
    transition-duration: var(--transition-duration);
    transition-timing-function: ease-in-out;

    font-weight: bold;
    margin-bottom: 1.5rem;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    min-width: 7.5rem;
    letter-spacing: 0.0625rem;

    margin-right: 1.5rem;

    &.selected,
    &:hover {
      transition: none;
      background-color: var(--strong-orange);
      box-shadow: 0.25rem 0.25rem 1.25rem -0.625rem var(--blue);
    }

    &:disabled {
      background-color: gray;
    }
  }

  @media screen and (max-width: 1160px) {
    .mandatory-section .container .left .date .uneven .border {
      padding: 0.5rem 0.75rem;
      margin-right: 0.5rem;
    }
  }
}
