.services-main {
  .inner-container {
    padding-top: 10rem;
  }
  h2 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: 0.125rem;
    margin: 6rem 0;
    color: var(--orange);
    font-style: italic;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
}
