.services-hero {
  height: 22.625rem;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  position: relative;
  background-color: #e68320bb;

  & > img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .content {
    height: 100%;
    width: 40.75rem;

    position: relative;
    z-index: 4;

    display: flex;
    justify-content: flex-end;

    & > img {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
    }

    .text {
      padding: 2rem 4rem 3rem;
      position: relative;
      z-index: 2;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;

      h1 {
        font-size: 3.6875rem;
        line-height: 3.9375rem;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 0.125rem;
        color: var(--white);
        text-align: right;

        width: 70%;
      }

      .buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        padding-left: 3rem;

        a {
          margin-left: 2rem;
          padding: 1rem 2rem;

          font-size: 1.5rem;
          line-height: 1.5rem;
          font-weight: bold;
          letter-spacing: 0.125rem;
          background-color: var(--white);
          color: var(--dark-purple-2);

          border: none;
          border-radius: 4rem;
          border-top-right-radius: 0;
          cursor: pointer;

          transition: background-color 0.2s ease-in-out;

          &:hover,
          &:focus {
            transition: none;
            background-color: var(--phone);
          }
        }
      }
    }
  }
}
