.firebase-btn {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: var(--light);
  border: 2px solid var(--dark-purple-2);
  color: var(--dark-gray);

  font-size: var(--font-small);
  line-height: var(--line-small);
  color: var(--dark-purple-2);
  font-weight: bold;
  letter-spacing: 2px;

  margin: 1rem auto;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  height: min-content;
}
