.channel {
  width: 100%;
  height: calc(100vh - 4rem);

  display: flex;
  flex-direction: column;
  background-color: var(--light);
  position: relative;

  & > img {
    position: absolute;
    top: calc(50% - 12rem);
    left: calc(50% - 12rem);

    height: 24rem;
  }

  .header {
    width: 100%;
    height: 5.5rem;
    background-color: var(--light-blue-2);
    padding: 0.75rem 1.5rem;
    border-radius: 1rem;

    display: flex;
    justify-content: flex-start;
    position: relative;
    z-index: 20;

    img {
      height: 4rem;
      margin-right: 1rem;

      border-radius: 50%;

      image-rendering: -webkit-optimize-contrast;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      strong {
        font-size: var(--font-regular);
        line-height: var(--line-regular);
        color: var(--dark-purple-2);
        font-weight: bold;
        letter-spacing: 2px;
      }

      p {
        font-size: var(--font-small-s);
        line-height: var(--line-small-s);
        color: var(--gray);
        letter-spacing: 1px;
      }
    }
  }

  .messages {
    height: calc(100% - 5.5rem - 4rem);
    width: 100%;

    padding: 1rem 1.5rem;

    overflow-y: scroll;
    position: relative;
    z-index: 10;
    background-color: transparent;

    scrollbar-width: thin;
    scrollbar-color: var(--light-blue-2) transparent;

    &::-webkit-scrollbar {
      width: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--light-blue-2);
    }

    .block {
      width: 100%;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      strong {
        width: 100%;
        padding: 1rem;
        text-align: center;
        color: var(--dark-gray);
        font-size: var(--font-small);
        line-height: var(--line-small);
      }
    }
  }

  form {
    height: 4.5rem;
    padding: 0.5rem 1.5rem 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    // background-color: var(--light-blue-2);

    input {
      height: 2.5rem;
      width: 100%;

      border: none;
      box-shadow: 0 0 0.75rem 0.25rem rgba($color: #5f67af, $alpha: 0.2);
      border-radius: 0.5rem;
      padding: 0 1rem;

      font-size: var(--font-small-s);
      line-height: var(--line-small-s);
      margin-right: 1rem;

      &::placeholder {
        font-size: var(--font-small-s);
        line-height: var(--line-small-s);
      }
    }

    button {
      height: 2.5rem;
      width: 2.5rem;

      cursor: pointer;
      box-shadow: 0 0 0.75rem 8px rgba($color: #5f67af, $alpha: 0.2);
      color: var(--white);

      font-size: var(--font-small-s);
      line-height: var(--line-small-s);
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: none;
      border-radius: 50%;
      background-color: var(--orange);

      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      img {
        height: 1.75rem;
        padding-left: 0.25rem;

        image-rendering: -webkit-optimize-contrast;
      }
    }
  }
}
