.loader {
  height: 100vh;
  width: 100%;
  position: relative;

  &:after {
    content: "Loading...";
    font-size: var(--font-small-l);
    line-height: var(--line-small-l);
    color: var(--dark-gray);
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 6rem;
    height: 4rem;

    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 3rem);
  }
}
