.chat-user {
  display: flex;
  width: 100%;

  border-bottom: 1px solid var(--light-blue-2);

  &:last-child {
    border-bottom: none;
  }

  & > .container {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 0.5rem auto;
    padding: 0.5rem 0;

    cursor: pointer;

    .avatar {
      margin-right: 0.75rem;
      position: relative;

      img {
        height: 3.75rem;
        border-radius: 50%;

        image-rendering: -webkit-optimize-contrast;
      }

      span {
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        border-radius: 50%;
        background-color: var(--orange);
        color: var(--white);
        font-size: var(--font-minimal);
        line-height: var(--font-small);

        width: 1.25rem;
        height: 1.25rem;
      }
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      .name {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 0.25rem;

        strong {
          color: var(--dark-purple-2);
          font-size: var(--font-small);
          line-height: var(--line-small);
          font-weight: bold;
          letter-spacing: 1px;

          flex-wrap: wrap;
          word-break: break-all;
        }

        span {
          color: var(--dark-purple-2);
          font-size: var(--font-minimal);
          line-height: var(--font-small);
          flex-shrink: 0;
          font-weight: 500;
        }
      }

      .last-msg {
        color: var(--dark-gray);
        font-size: var(--font-minimal);
        line-height: var(--font-small);

        max-height: 3rem;
        overflow-y: hidden;
        letter-spacing: 1px;
      }
    }
  }
}
